* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #240851 0%, #53a8b3b4 100%);
}

.header {
    background-image: url(../images/headercards_.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.divContainerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.title {
    text-align: center;
    color: white;
    font-size: 60px;
    letter-spacing: 3px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 0px 10px rgba(223, 196, 45, 0.856));
}

.sectionFav {
    color: white;
    border-image: linear-gradient(to bottom, #53a8b3b4, #360d6b6e) 1;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

    .ulStylesFav {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
        .pFavsText {
            font-family: 'Bebas Neue', cursive;
            font-size: 22px;
            letter-spacing: 5px;
            margin-bottom: 20px;
            background-color: rgba(255, 255, 255, 0.103);
            padding: 10px;
            border-radius: 7px;
        }
            .favoritesListStyle {
                padding: 20px;
                width:  150px;
                text-align: center;
                font-size: 15px;
                cursor: pointer;
            }
            .serie_image_favs {
                width: 100px;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.301);
                border-radius: 5px;
                margin-bottom: 10px;
            }
            .divImageEquis {
                display: flex;
                position: relative;
            }
                .equisIcon {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 50px;
                    font-size: 25px;
                    padding: 6px 10px 12px 10px;
                    text-align: center;
                    border: rgba(219, 62, 0, 0.281) 1px solid;
                    border-radius: 50px;
                    background-color: rgb(214, 68, 0);
                    color: rgb(255, 255, 255);
                    box-shadow: 0px 0px 10px rgba(15, 15, 14, 0.527);
                    cursor: pointer;
                }
                    .equisIcon:hover {
                        transform: scale(1.07);
                        transition: transform ease 0.1s;
                        filter: brightness(1.6);
                    }

.sectionSearch {
    color: white;
    padding: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
    .ulStylesSearch {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
        .pResultsText{
            font-family: 'Bebas Neue', cursive;
            font-size: 22px;
            letter-spacing: 5px;
            margin-bottom: 20px;
            background-color: rgba(255, 255, 255, 0.103);
            padding: 10px;
            border-radius: 7px;

        }
            .listStyle {
                list-style-type: none;
                width: 270px;
                padding: 20px;
                /* margin-right: 30px; */
                margin-bottom: 10px;
                font-size: 20px;
                text-align: center;
                cursor: pointer;
            }
            .clickedBorderActive {
                background-color: #53a8b350;
                border: #50ebff9a solid 3px;
                box-shadow: 0px 0px 20px rgba(14, 108, 145, 0.678)
            }
            .serie_image {
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.301);
                margin-bottom: 7px;
            }
            .serie_name {
                font-size: 15px;
            }
                .serie_image:hover {
                    transform: scale(1.03);
                    transition: transform ease 0.2s;
                }

.inputStyles {
    width: 70vw;
    padding: 15px;
    margin: 10px 10px 15px 10px;
    background-color: #784eaf;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
}

::placeholder {
    color: rgb(219, 219, 219);
}

.searchStyles {
    width: 100px;
    border-radius: 10px;
    padding: 15px;
    border: none;
    background-color: #53a8b3;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.positionReset {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .resetStyles {
        padding: 10px 100px 10px 100px;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 10px;
        border: #af83e9 2px solid;
        background-color: transparent;
        color: #af83e9;
        text-transform: uppercase;
        cursor: pointer;
    }
    .resetStyles:hover {
        background: #320949fa;
    }

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding: 10px;
    background-color: #53a8b3b4;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    letter-spacing: 1px;
}

@media (min-width: 768px) {
    .main {
        flex-direction: row;
    }
    .header {
        padding: 80px;
    }
    .serie_name {
        font-size: 17px;
    }
    .divContainerForm {
        flex-direction: row;
    }
    .inputStyles {
        width: 50vw;
    }
    .searchStyles {
        padding: 17px 15px 17px 15px;
    }
    .sectionFav {
        border-right: 2px solid;
        border-image: linear-gradient(to bottom, #53a8b3b4, #360d6b6e) 1;
        height: 100vh;
    }
    .listStyle {
        margin-right: 15px;
    }
}

@media (min-width: 1200px) {
    .ulStylesSearch {
        margin-left: 40px;
        justify-content: flex-start;
    }
    .sectionFav {
        width: 30vw;
        padding: 30px;
    }
    .sectionSearch {
        width: 70vw;
        padding: 30px;
    }
    .listStyle {
        margin-right: 20px;
    }
    .ulStylesFav {
        margin-left: 50px;
        justify-content: flex-start;
    }
}